@import '@/styles/variables.scss';

.tab1 {
  padding: 20px;

  .row-tab1 {
    .avatar {
      padding-right: 20px;
      padding-top: 20px;
      text-align: center;
    }
    .username {
      font-weight: bold;
      font-size: $size-s;
    }
    .date {
      font-size: $size-s;
      margin-top: 20px;
    }
    .content {
      margin-top: 20px;
    }

    .image {
      margin-top: 20px;
    }
    .row-others {
      margin-top: 20px;
      text-align: center;
    }
  }
  .icon-row {
    margin-top: 20px;
    .icon-wrapper {
      text-align: center;
      .number {
        font-size: $size-xs;
        color: $Content;
      }
    }
  }
}
