@import "@/styles/variables.scss";

.headView {margin: 90PX 50PX 90PX 50PX; /*上右下左*/}
.headImageView {display: block;margin-left: 25PX;margin-top: 25PX;margin-right: 25PX;margin-bottom: 0PX;height: 50PX;}
.headImage{display: flex;width: 50PX;height: 50PX;}
.titleText {margin-left: 25PX;margin-top: 25PX;margin-bottom: 10PX;font-size: 14PX;color: #020e0f;text-align: center;}
.contentText {margin-left: 25PX;margin-top: 0PX;margin-bottom: 0PX;font-size: 14PX;color: #666;text-align: center;}
.button-wrapper{display: flex;justify-content: center;}
 .authBtn {margin-top: 35PX;}
 