@import "@/styles/variables.scss";
@import "~taro-ui/dist/style/components/list.scss";
.index {
  background: #fff;
  min-height: calc(100% - 100px);
  .order-item-wrapper {
    padding: 20px;
    font-size: $size-s;
    .date {
      color: $Color;
      font-size: $size-xs;
    }
    .state {
      font-size: $size-xs;
      text-align: right;
    }
    .bold {
      font-weight: bold;
    }
    .name {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .price {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: right;
    }
    .comment {
      font-size: $size-xs;
      color: $Color;
    }
    .button {
      text-align: right;
      margin-top: 20px;
    }
  }
}
.refresh{
  position: fixed;
top: 80%;
right: 5%;
background: #2d8cf0;
border-radius: 50%;
padding: 2%;
z-index: 1;

}