.userQrCode {
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
 .image-wrapper{
  display: flex;
  justify-content: center;
  padding-top: 35%;
 .image{
  height: 600px;
  width: 600px;
 }
 }
}