@import "@/styles/variables.scss";


.content{
  // flex-direction: column;
}
.event{
  background-color: #fff;
  height: 100%;
}
 
.left{
  width: 47%;
  float: left;
  margin:0 1% 0 2%;
}
 
.right{
  width: 47%;
  float: right;
  margin:0 2% 0 1%;
}
 
.pic{
  border-radius: 10rpx;
  width: 100%;
}
.clear{
  clear: both;
}