@import '@/styles/variables.scss';

.i-tag{
  height: 30px;
line-height: 30px;
border-radius: 5px;
width: 60px;
}

.tips-total{
  text-align: right;
  margin-right: 20px;
}
.singer {
  flex-direction: column;
  width: 100%;
  height: 100%;
  .song-info{
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
    font-style: 30px;
  }
  .tip-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px;

  }
  .full-background {
    width: 100%;
    height: 100%;

    background: #fff;
    z-index: -2;
    position: absolute;
  }
  .singer-info {
    height: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      filter: blur(10px);
    }
    .row-top {
      height: 100px;
      line-height: 100px;
      width: 100%;
      box-sizing: border-box;
      .row-top-col{
          height: 100%;
          text-align: center;
          display: flex;
          align-items: center;
        
        
      }
      .row-top-col-right{
        height: 100%;
        justify-content: end;
          display: flex;
          align-items: center;
      }
      .follow-button {
        width: 120px;
        height: 60px;
        display: inline-block;
        background-color: $Error;
        font-size: $size-s;
        line-height: 60px;
        border-radius: 10px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        border: 1px solid rgba(228, 70, 59, 1);
      }
      .i-tags {
        .i-tag {
          width: 500px;
        }
      }
    }
    .row-name {
      height: 80px;
      line-height: 80px;
      .username {
        display:flex;
        align-items: center;
        font-weight: bold;
      }
      .state{
        font-size: $size-s;
        .title{

        }
        .content{

        }
        display:flex;
        align-items: center;
      }
      
    }
    .row-followers-fans {
      margin-top: 20px;
      font-size: $size-s;
      color: $Title;
    }
    .tag-container {
      margin-top: 10px;
      .i-tags {
        margin-right: 20px;
        margin-top: 10px;
      }
    }
  }

  .tab-container {
    background-color: #fff;
  }

  .swiper {
  }
 
}
