.container{
  background-color: #fff;
  text-align: center;
  .title{
  padding:40px 0;
  font-weight: bold;
  }
  .sub-title{
    font-size: 25px;
    margin-bottom: 40px;
  }
  .image{
    height: 1000px;
  }
}