@import '@/styles/variables.scss';
.index {
  flex-direction: column;
  width: 100%;
}
.user {
  background-color: #fff;
  height: 100%;
  .user-info {
    padding: 40px;

    .col-avatar {
      text-align: center;
      height: 80px;
      line-height: 80px;
    }
    .user-name {
      font-size: $size-s;
      height: 40px;
      line-height: 40px;
    }
    .user-level {
      color: $Color;
      font-size: $size-xs;
      height: 40px;
      line-height: 40px;
    }
  }
  .summary-row {
    margin-top: 20px;
    text-align: center;
    color: $Color;
    font-size: $size-xs;
    .border-right {
      border-right: solid $Border 1px;
    }
    .title {
      font-size: $size-s;
      color: $Title;
    }
    .content {
      margin-top: 10px;
    }
  }
}
