@import "@/styles/variables.scss";
@import "~taro-ui/dist/style/components/list.scss";
.history {
  background: #fff;
  .order-item-wrapper {
    padding: 20px;
    font-size: $size-s;
    .date {
      color: $Color;
      font-size: $size-xs;
    }
    .state {
      font-size: $size-xs;
      text-align: right;
    }
    .bold {
      font-weight: bold;
    }
    .name {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .price {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: right;
    }
    .comment {
      font-size: $size-xs;
      color: $Color;
    }
    .button {
      text-align: right;
      margin-top: 20px;
    }
  }
}
.button-wrapper {
  text-align: center;
  margin: 20px 0;
}