@import '@/styles/variables.scss';
@import '~taro-ui/dist/style/components/image-picker.scss';
@import '~taro-ui/dist/style/components/icon.scss';
page {
  height: 100%;
  font-family: PingFangSC-Regular, sans-serif;
  font-size: $size-m;
  background-color: $Background;
}
