@import '@/styles/variables.scss';

.OneBlockComp {
  flex-direction: column;
  width: 100%;

  box-sizing: border-box;
  padding: 10px;
  .container {
    // background-color: #fff;
    .top {
      .image {
        border-radius: 2%;
      }
    }
    .middle {
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .bottom {
      margin-top: 10px;
      .username {
        margin-left: 10px;
        font-size: $size-s;
      }
    }
    .divider {
      height: 50px;
      background-color: $Background;
    }
  }
}
